USE [master]
GO
/****** Object:  Database [CH_Restaurante]    Script Date: 23/9/2026 22:31:03 ******/
CREATE DATABASE [CH_Restaurante]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CH_Restaurante', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CH_Restaurante.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CH_Restaurante_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CH_Restaurante_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CH_Restaurante].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CH_Restaurante]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 23/9/2026 22:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[IdEvento] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Modulo] [nvarchar](50) NOT NULL,
	[Evento] [nvarchar](200) NOT NULL,
	[Criticidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 23/9/2026 22:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[CorreoElectronico] [nvarchar](50) NOT NULL,
	[DVH] [bigint] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitoVerificador]    Script Date: 23/9/2026 22:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificador](
	[IdDV] [int] IDENTITY(1,1) NOT NULL,
	[NombreTabla] [varchar](100) NOT NULL,
	[NombreColumna] [varchar](100) NOT NULL,
	[Tipo] [varchar](10) NOT NULL,
	[Valor] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 23/9/2026 22:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[DVH] [bigint] NOT NULL,
 CONSTRAINT [PK_Familia] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAMILIAxFAMILIA]    Script Date: 23/9/2026 22:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAMILIAxFAMILIA](
	[ID_F] [int] NOT NULL,
	[ID_F2] [int] NOT NULL,
	[DVH] [bigint] NOT NULL,
 CONSTRAINT [PK_FAMILIAxFAMILIA] PRIMARY KEY CLUSTERED 
(
	[ID_F] ASC,
	[ID_F2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesa]    Script Date: 23/9/2026 22:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesa](
	[NumeroMesa] [int] NOT NULL,
	[Capacidad] [int] NOT NULL,
	[DVH] [bigint] NOT NULL,
 CONSTRAINT [PK_Mesa] PRIMARY KEY CLUSTERED 
(
	[NumeroMesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 23/9/2026 22:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](150) NULL,
	[DVH] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFILxFAMILIA]    Script Date: 23/9/2026 22:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFILxFAMILIA](
	[ID_P] [int] NOT NULL,
	[ID_F] [int] NOT NULL,
	[DVH] [bigint] NOT NULL,
 CONSTRAINT [PK_PERFILxFAMILIA] PRIMARY KEY CLUSTERED 
(
	[ID_P] ASC,
	[ID_F] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFILxPERMISO]    Script Date: 23/9/2026 22:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFILxPERMISO](
	[ID_PF] [int] NOT NULL,
	[ID_PM] [int] NOT NULL,
	[DVH] [bigint] NOT NULL,
 CONSTRAINT [PK_PERFILxPERMISO] PRIMARY KEY CLUSTERED 
(
	[ID_PF] ASC,
	[ID_PM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 23/9/2026 22:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[DVH] [bigint] NOT NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISOxFAMILIA]    Script Date: 23/9/2026 22:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISOxFAMILIA](
	[ID_P] [int] NOT NULL,
	[ID_F] [int] NOT NULL,
	[DVH] [bigint] NOT NULL,
 CONSTRAINT [PK_PERMISOxFAMILIA] PRIMARY KEY CLUSTERED 
(
	[ID_P] ASC,
	[ID_F] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 23/9/2026 22:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[NumeroReserva] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[NumeroMesa] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[CantidadComensales] [int] NOT NULL,
	[Observaciones] [nvarchar](50) NULL,
	[Estado] [nvarchar](15) NOT NULL,
	[DVH] [bigint] NOT NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[NumeroReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 23/9/2026 22:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[DNI] [varchar](8) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Login] [varchar](100) NOT NULL,
	[Contraseña] [varchar](255) NOT NULL,
	[Rol] [int] NOT NULL,
	[Mail] [nvarchar](300) NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Contador] [int] NOT NULL,
	[Idioma] [varchar](5) NOT NULL,
	[DVH] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([IdEvento], [Usuario], [FechaHora], [Modulo], [Evento], [Criticidad]) VALUES (1, N'27777502Alexis', CAST(N'2026-06-14T20:56:52.757' AS DateTime), N'Login', N'Inicio de sesión exitoso', 1)
INSERT [dbo].[Bitacora] ([IdEvento], [Usuario], [FechaHora], [Modulo], [Evento], [Criticidad]) VALUES (2, N'27777502Alexis', CAST(N'2026-06-14T21:09:18.453' AS DateTime), N'Logout', N'Cerró sesión', 1)
INSERT [dbo].[Bitacora] ([IdEvento], [Usuario], [FechaHora], [Modulo], [Evento], [Criticidad]) VALUES (3, N'27777502Alexis', CAST(N'2026-06-15T17:57:59.530' AS DateTime), N'Login', N'Inicio de sesión exitoso', 1)
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[DigitoVerificador] ON 

INSERT [dbo].[DigitoVerificador] ([IdDV], [NombreTabla], [NombreColumna], [Tipo], [Valor]) VALUES (873, N'Usuario', N'PK:DNI=12345678', N'FILA', 2098373)
INSERT [dbo].[DigitoVerificador] ([IdDV], [NombreTabla], [NombreColumna], [Tipo], [Valor]) VALUES (874, N'Usuario', N'PK:DNI=12457896', N'FILA', 2204015)
INSERT [dbo].[DigitoVerificador] ([IdDV], [NombreTabla], [NombreColumna], [Tipo], [Valor]) VALUES (875, N'Usuario', N'PK:DNI=27777502', N'FILA', 2170736)
GO
SET IDENTITY_INSERT [dbo].[DigitoVerificador] OFF
GO
SET IDENTITY_INSERT [dbo].[Familia] ON 

INSERT [dbo].[Familia] ([ID], [Nombre], [Descripcion], [DVH]) VALUES (5, N'F_ADMINISTRACION', N'Familia de Administracion', 118709)
INSERT [dbo].[Familia] ([ID], [Nombre], [Descripcion], [DVH]) VALUES (6, N'F_MAESTROS_GENERALES', N'Familia de Maestros', 88203)
INSERT [dbo].[Familia] ([ID], [Nombre], [Descripcion], [DVH]) VALUES (7, N'F_OPERACION_SALON', N'Familia de Operacion de Salon', 144015)
SET IDENTITY_INSERT [dbo].[Familia] OFF
GO
INSERT [dbo].[Mesa] ([NumeroMesa], [Capacidad], [DVH]) VALUES (1, 2, 0)
INSERT [dbo].[Mesa] ([NumeroMesa], [Capacidad], [DVH]) VALUES (2, 2, 0)
INSERT [dbo].[Mesa] ([NumeroMesa], [Capacidad], [DVH]) VALUES (3, 4, 0)
GO
SET IDENTITY_INSERT [dbo].[Perfil] ON 

INSERT [dbo].[Perfil] ([ID], [Nombre], [Descripcion], [DVH]) VALUES (1, N'Gerente', N'Perfil con acceso general a las funciones administrativas y operativas.', 756401)
INSERT [dbo].[Perfil] ([ID], [Nombre], [Descripcion], [DVH]) VALUES (2, N'Camarero', N'Perfil orientado a la gestión de mesas y pedidos.', 356113)
INSERT [dbo].[Perfil] ([ID], [Nombre], [Descripcion], [DVH]) VALUES (3, N'Cajero', N'Perfil orientado a facturación, cobros y consultas de ventas.', 552673)
SET IDENTITY_INSERT [dbo].[Perfil] OFF
GO
INSERT [dbo].[PERFILxFAMILIA] ([ID_P], [ID_F], [DVH]) VALUES (1, 5, 155)
INSERT [dbo].[PERFILxFAMILIA] ([ID_P], [ID_F], [DVH]) VALUES (1, 6, 157)
INSERT [dbo].[PERFILxFAMILIA] ([ID_P], [ID_F], [DVH]) VALUES (1, 7, 159)
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([ID], [Nombre], [Descripcion], [DVH]) VALUES (10, N'ADM_GESTION_USUARIOS', N'Gestion de usuarios', 91640)
INSERT [dbo].[Permiso] ([ID], [Nombre], [Descripcion], [DVH]) VALUES (11, N'ADM_ROLES_PERMISOS', N'Gestion de Roles y Permisos', 136246)
INSERT [dbo].[Permiso] ([ID], [Nombre], [Descripcion], [DVH]) VALUES (12, N'ADM_BITACORA_EVENTOS', N'Bitacora de Eventos', 88390)
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
INSERT [dbo].[PERMISOxFAMILIA] ([ID_P], [ID_F], [DVH]) VALUES (10, 5, 251)
INSERT [dbo].[PERMISOxFAMILIA] ([ID_P], [ID_F], [DVH]) VALUES (11, 5, 253)
INSERT [dbo].[PERMISOxFAMILIA] ([ID_P], [ID_F], [DVH]) VALUES (12, 5, 255)
GO
INSERT [dbo].[Usuario] ([DNI], [Nombre], [Apellido], [Login], [Contraseña], [Rol], [Mail], [Bloqueado], [Activo], [Contador], [Idioma], [DVH]) VALUES (N'12345678', N'Hector', N'Salamanca', N'12345678Hector', N'ef797c8118f02dfb649607dd5d3f8c7623048c9c063d532cc95c5ed7a898a64f', 1, N'AES:rKe9Cpul5lvO3sB10yduVzUoHBP8HM+NXn1yrJ0M98yF8o3g/YSN60CeoK983zhK', 0, 1, 0, N'es', 2098373)
INSERT [dbo].[Usuario] ([DNI], [Nombre], [Apellido], [Login], [Contraseña], [Rol], [Mail], [Bloqueado], [Activo], [Contador], [Idioma], [DVH]) VALUES (N'12457896', N'Jesse', N'Pinckman', N'12457896Jesse', N'ef797c8118f02dfb649607dd5d3f8c7623048c9c063d532cc95c5ed7a898a64f', 4, N'AES:LnT2CV3sXoEv2NKolhI6UvSfnNnsdwNYd8ioLLUuKt1RNXgxq60a2JWq+h1pG/te', 0, 1, 0, N'es', 2204015)
INSERT [dbo].[Usuario] ([DNI], [Nombre], [Apellido], [Login], [Contraseña], [Rol], [Mail], [Bloqueado], [Activo], [Contador], [Idioma], [DVH]) VALUES (N'27777502', N'Alexis', N'Costanzo', N'27777502Alexis', N'ef797c8118f02dfb649607dd5d3f8c7623048c9c063d532cc95c5ed7a898a64f', 3, N'AES:1Ceq/PiBOsyYOZMYi+TWZAUjwH6OcVGbMW9iFPlA2L0J07eZ21T9CneVUuezlmRj', 0, 1, 0, N'es', 2170736)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Cliente_Correo]    Script Date: 23/9/2026 22:31:04 ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [UQ_Cliente_Correo] UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Cliente_Telefono]    Script Date: 23/9/2026 22:31:04 ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [UQ_Cliente_Telefono] UNIQUE NONCLUSTERED 
(
	[Telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_DigitoVerificador_Tabla_Columna_Tipo]    Script Date: 23/9/2026 22:31:04 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_DigitoVerificador_Tabla_Columna_Tipo] ON [dbo].[DigitoVerificador]
(
	[NombreTabla] ASC,
	[NombreColumna] ASC,
	[Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_DVH]  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[Familia] ADD  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[FAMILIAxFAMILIA] ADD  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[Mesa] ADD  CONSTRAINT [DF_Mesa_DVH]  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[Perfil] ADD  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[PERFILxFAMILIA] ADD  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[PERFILxPERMISO] ADD  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[Permiso] ADD  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[PERMISOxFAMILIA] ADD  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[Reserva] ADD  CONSTRAINT [DF_Reserva_DVH]  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Contador]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_Idioma]  DEFAULT ('es') FOR [Idioma]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[FAMILIAxFAMILIA]  WITH CHECK ADD  CONSTRAINT [FK_FAMILIAxFAMILIA_Familia] FOREIGN KEY([ID_F])
REFERENCES [dbo].[Familia] ([ID])
GO
ALTER TABLE [dbo].[FAMILIAxFAMILIA] CHECK CONSTRAINT [FK_FAMILIAxFAMILIA_Familia]
GO
ALTER TABLE [dbo].[PERFILxFAMILIA]  WITH CHECK ADD  CONSTRAINT [FK_PERFILxFAMILIA_Familia] FOREIGN KEY([ID_F])
REFERENCES [dbo].[Familia] ([ID])
GO
ALTER TABLE [dbo].[PERFILxFAMILIA] CHECK CONSTRAINT [FK_PERFILxFAMILIA_Familia]
GO
ALTER TABLE [dbo].[PERFILxFAMILIA]  WITH CHECK ADD  CONSTRAINT [FK_PERFILxFAMILIA_Perfil] FOREIGN KEY([ID_P])
REFERENCES [dbo].[Perfil] ([ID])
GO
ALTER TABLE [dbo].[PERFILxFAMILIA] CHECK CONSTRAINT [FK_PERFILxFAMILIA_Perfil]
GO
ALTER TABLE [dbo].[PERFILxPERMISO]  WITH CHECK ADD  CONSTRAINT [FK_PERFILxPERMISO_Perfil1] FOREIGN KEY([ID_PF])
REFERENCES [dbo].[Perfil] ([ID])
GO
ALTER TABLE [dbo].[PERFILxPERMISO] CHECK CONSTRAINT [FK_PERFILxPERMISO_Perfil1]
GO
ALTER TABLE [dbo].[PERFILxPERMISO]  WITH CHECK ADD  CONSTRAINT [FK_PERFILxPERMISO_Permiso1] FOREIGN KEY([ID_PM])
REFERENCES [dbo].[Permiso] ([ID])
GO
ALTER TABLE [dbo].[PERFILxPERMISO] CHECK CONSTRAINT [FK_PERFILxPERMISO_Permiso1]
GO
ALTER TABLE [dbo].[PERMISOxFAMILIA]  WITH CHECK ADD  CONSTRAINT [FK_PERMISOxFAMILIA_Familia] FOREIGN KEY([ID_F])
REFERENCES [dbo].[Familia] ([ID])
GO
ALTER TABLE [dbo].[PERMISOxFAMILIA] CHECK CONSTRAINT [FK_PERMISOxFAMILIA_Familia]
GO
ALTER TABLE [dbo].[PERMISOxFAMILIA]  WITH CHECK ADD  CONSTRAINT [FK_PERMISOxFAMILIA_Permiso] FOREIGN KEY([ID_P])
REFERENCES [dbo].[Permiso] ([ID])
GO
ALTER TABLE [dbo].[PERMISOxFAMILIA] CHECK CONSTRAINT [FK_PERMISOxFAMILIA_Permiso]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cliente]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Mesa] FOREIGN KEY([NumeroMesa])
REFERENCES [dbo].[Mesa] ([NumeroMesa])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Mesa]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Perfil] FOREIGN KEY([Rol])
REFERENCES [dbo].[Perfil] ([ID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Perfil]
GO
ALTER TABLE [dbo].[Mesa]  WITH CHECK ADD  CONSTRAINT [CK_Mesa_Capacidad] CHECK  (([Capacidad]>(0)))
GO
ALTER TABLE [dbo].[Mesa] CHECK CONSTRAINT [CK_Mesa_Capacidad]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [CK_Reserva_Comensales] CHECK  (([CantidadComensales]>(0)))
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [CK_Reserva_Comensales]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [CK_Reserva_Estado] CHECK  (([Estado]='Ausente' OR [Estado]='Cumplida' OR [Estado]='Cancelada' OR [Estado]='Reservada'))
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [CK_Reserva_Estado]
GO
USE [master]
GO
